.header {
	background: url("/static/images/00-global/bg-header.jpg");
	.logo {
		width: 40%;
		position: relative;
		z-index: 100;
		img {
			width: 50%;
		}
	}
	.bg-navbar {
		background: url('/static/images/00-global/bg-header.jpg');
		background-size: cover;
		position: relative;
		top: -235px;
		padding: 18px 0 26px;
		.navbar {
			margin-left: 396px;
			ul {
				li {
					display: inline-block;
					width: 15%;
					padding: 0 15px;
					cursor: pointer;
					&:nth-child(1) {
						&:hover, &:active {
							content: url('/static/images/00-nav/01h.png');
						}
					}
					&:nth-child(2) {
						&:hover, &:active {
							content: url('/static/images/00-nav/02h.png');
						}
					}
					&:nth-child(3) {
						&:hover, &:active {
							content: url('/static/images/00-nav/03h.png');
						}
					}
					&:nth-child(4) {
						&:hover, &:active {
							content: url('/static/images/00-nav/04h.png');
						}
					}
					&:nth-child(5) {
						&:hover, &:active {
							content: url('/static/images/00-nav/05h.png');
						}
					}
				}
			}
		}
	}
}